#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
/* Container */
header {
  width: 100%;
  padding: 16px 24px;
  background: #ffffff;
  border-bottom: 1px solid #e5e7eb; /* light grey */
  display: flex;
  justify-content: center; /* centers the brand block like Figma */
  align-items: center;
}
.header {
  
}
/* Brand cluster */
.brand {
  display: flex;
  align-items: center;
  gap: 10px;           /* spacing between logo and text */
}

/* Logo */
.brand__logo {
  width: 32px;         /* tweak to match your Figma size */
  height: 32px;
  object-fit: contain;
  display: block;
}

/* Title */
.brand__name {
  font-size: 24px;     /* ≈ text-2xl */
  font-weight: 700;
  color: #1f2937;      /* gray-800 */
  letter-spacing: 0.2px;
}
main {
  padding: 10px 30px;
}

.ingrident-form {
  display: flex;
  justify-content: center;
}